<div class="wrapper">
  <div class="container">
    <!--  WELCOME  -->
    <div id="welcome">
      <h1>
        <span> Hello there, </span>
        Welcome iot 👋
      </h1>
    </div>

    <!--  MIDDLE CONTENT  -->
    <div id="middle-content">
      <div id="learning-materials" class="rounded shadow">
        <h2>物联网设备</h2>
        <a rel="noreferrer" class="list-item-link">
          <span>温湿度计</span>
        </a>
        <a rel="noreferrer" class="list-item-link">
          <span>LED 灯</span>
        </a>
      </div>

      <div>
        <a class="button-pill rounded shadow" rel="noreferrer">
          <span style="margin-right: 10px;">温度：{{ temp || '--' }} ℃</span>
          <span>湿度：{{ hum || '--' }} %</span>
        </a>
        <a class="button-pill rounded shadow" rel="noreferrer" [style.backgroundColor]="hex">
          <span style="display: inline-block; height: 28px;"></span>
        </a>
      </div>

      <div id="learning-materials" class="rounded shadow">
        <h2>LED 灯控制</h2>
        <a rel="noreferrer" class="list-item-link">
          <span>颜色</span>
          <input type="color" (change)="colorChange($event)">
        </a>
        <a rel="noreferrer" class="list-item-link">
          <span>亮度</span>
          <input type="number" max="100" min="0" [value]="brightness" (blur)="brightnessChange($event)">
        </a>
        <a rel="noreferrer" class="list-item-link" [class.active]="ledStatus" (click)="switchChange(1)">
          <span>点亮</span>
        </a>
        <a rel="noreferrer" class="list-item-link" [class.active]="!ledStatus" (click)="switchChange(0)">
          <span>关闭</span>
        </a>
      </div>
    </div>

    <!-- LOVE -->
    <p id="love">
      Carefully crafted with
      <svg
        fill="currentColor"
        stroke="none"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
        />
      </svg>
    </p>
  </div>
</div>
